body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  height: 40px;
  line-height: 10px;
}
a{
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-right: 5px;
}
.navbar-toggler{
  height: 30px;
}
.navbar-toggler-icon{
  height:20px;
  margin-bottom: 3px;
}

.navbar .dont-collapse-lg{
  display: none;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color:#fff;
  border-radius:30px;
  padding: 10px;
  margin-right: 100px;
  border-color: beige;
  background-color:burlywood;
  width: 100px;
  }
input{
  border-radius: 30px;
}
.bottom{
  height:70px;
  background-color:#fff;
}
p{
  padding: 40px 40px 40px 0;
  margin-left: 20px;
}




.fi{
  float: right;
}
.fi .fil{
  list-style: none;
 float: right;
}
.fil{
  margin-right: 20px;
}

.side{
  font-weight: bold;
  font-size: medium;
  background-color:white;
  width:250px;
  height: 80vh;
  display: flex;
  justify-content:left;
  position:absolute;
  object-fit: contain;
  margin-left: 40px;
  overflow: scroll;

}
.side::-webkit-scrollbar{
  display:none;
}
.row{
  display: flex;
   width: 32%;
}
.items{
  height: 150px;
   width: 250px;
   
}
.nav-menu-items{
  list-style: none;
  line-height: 2;
}

.sideb{
  margin-left: 300px;
   display: grid;
   grid-template-columns: auto auto auto;
}

@media screen and (max-width:500px){
  .side{
      display:none;
  }
  .sideb{
      margin-left: 20px !important;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
 
  }
  
  .fi .fil{
      display: none;
      
  }
  .fi{
      margin: 0;
      padding: 0;
  }
  

}

/* Shoe page */
.page-content{
  height: 850px;
  display: flex;
  justify-content:space-evenly;
}
.scroll-content{
 justify-content: space-evenly;
  margin-left: 100px;
  margin-top: 70px;
  height: 600px;
  width: 40%;
  overflow-y:scroll;
}
.scroll-content::-webkit-scrollbar{
  display: none;
}
.shoe-img{
  justify-content: flex-end;
  margin-top: 70px;
  height: 600px;
  width: 500px;
  margin-left: auto;
  border-radius: 10px;
}
.size{
  width:120px;
  height:50px;
  background-color:#E8E8E8;
  border-radius:5px;
  margin:5px;
  text-align:center;
  padding:10px;
  cursor:pointer;
}
.sidek{
  display:grid;
  grid-template-columns: auto auto auto;
}

.chart{
  height:fit-content;
  width:fit-content;
  padding:10px;
  object-fit:contain;
}
.stamp{
  background-color:blue;
  border-radius:10px;
  width:60px;
  height:50px;
  float:middle;
  margin:5px 5px;
  object-fit:contain;
  cursor:pointer;
}
.simg{
  width:100%;
  border-radius:10px;
}
.button-cart{
  width:75%;
  border-radius:50px;
  height:50px;
  margin:5px;
}
.add{
  background-color:black;
  color:white;
}
.fav{
  background-color:white;
  color:black;
}
/* ------Cart-------------------- */
.guest{
  width:100%;
  border-radius:50px;
  height:50px;
  margin:5px;
  background-color:black;
  color:white;
}
.summary{
  display:block;
  align-content:center;
  border:1px solid black;
  max-width:content-fit;
  height:350px;
  margin-top:25px;
  padding:20px;
}
.text-sum{
  font-size:25px;
  padding:5px;
}
.summary-content{
  display:flex;
  align-content:center;
  width:350px;
  height:30px;
  justify-content:space-between;
}
.cart{
  display:flex;
  justify-content:center;
  align-content:center;
  justify-content:space-around;
}
.cart-content{
  display:block;
  align-content:center;
  width:700px;
  max-height:content-fit;
  margin-right:10px;
  margin-top:25px;
  padding:10px;
  object-fit:contain;
}
.cart-items{
  display:flex;
  align-content:center;
  width:680px;
  height:180px;
  margin-top:25px;
  padding:10px;
  justify-content:space-around;
}
.cart-img{
  display:flex;
  align-content:center;
  width:150px;
  height:150px;
  overflow-x:hidden;
  object-fit:cover;
}
.cart-details{
  display:block;
  align-content:center;
  width:440px;
  height:150px;
}
.cart-text{
  display:flex;
  align-content:center;
  width:440px;
  height:30px;
  justify-content:space-between;
}
.cart-icons{
  display:flex;
  align-content:center;
  width:440px;
  height:30px;
}